:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /********************
   * Custom properties
   ********************/

  --color-white: #f5f5f5;
  --color-black: #555555;
  --color-danger: #ff0000;

  /* Default to dark theme because it puts a little less demand on battery */
  --clock-face-foreground-color: var(--color-white);
  --clock-face-background-color: var(--color-black);
  --clock-font-family: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --clock-face-foreground-color: var(--color-black);
    --clock-face-background-color: var(--color-white);
  }
}

/* debug helper /
*,
*::before,
*::after {
  outline: 1px solid red;
}
/**/
