:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /********************
   * Custom properties
   ********************/

  --color-white: #eeeeee;
  --color-black: #333333;

  --color-blood: #c02008;
  --color-grass: #359435;

  --color-danger: var(--color-blood);

  --clock-font-family: 'Courier New', Courier, monospace;

  /* Default to dark theme because it puts a little less demand on battery */
  --clock-face-foreground-color: var(--color-white);
  --clock-face-background-color: var(--color-black);
  --clock-face-timeout-color: var(--color-blood);
  --clock-face-my-turn-color: var(--color-grass);
}

/* debug helper /
*,
*::before,
*::after {
  outline: 1px solid red;
}
/**/
